.nav {
  max-width: auto;
  background-color: #146C94;
}

.navlink {
  display: inline-block;
  text-decoration: none;
  padding: 18px;
  font-weight: 700;
  font-size: 18px;
  color: #AFD3E2;
}

.navlink:hover {
  color: #FFF;
}

.navlink.active {
  color: #e84a5f;
}

.nav_div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.user {
  margin: 0;
  padding: 18px;
  font-weight: 700;
  font-size: 18px;
  color: #AFD3E2;
}